@use './variables' as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $bg-color-main;
  font-family: 'Roboto';

}

.d-flex {
  display: flex;
}

.container {
  margin: 0 auto;
  width: 98%;
  max-width: 1000px;
}

img {
  max-width: 100%;
}

main {
  margin-top: 100px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

// MAIN
.row {
  flex-wrap: wrap;
  justify-content: space-between;
}