$bg-color-header: #ff6900;
$bg-color-main: white;
$bg-color-footer: #1a1a1a;
$bg-color-discount: red;
$bg-color-tag: #008000;

$text-primary: white;
$text-disc-price: #ff0000;
$text-footer: #d9f0e2;

$icon-header: white;
$icon-heart: black;

$container-max-width: 1000px;